{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Удаление клиента</h1>
        <form method="post">
            {% csrf_token %}
            <p>Вы действительно хотите удалить {{ object.name }} {{ object.second_name }} из системы?</p>
            <button class="btn btn-danger" type="submit">Подтвердить</button>
            <a class="btn btn-secondary" type="submit" href="{% url 'mail_sending:client_list' %}">Отмена</a>
        </form>
    </div>
{% endblock %}